{#
    The template for the yearly membership fee collection email.

    Global Variables
    ----------------
    format_date: (value: date) -> str
        The date formatting function
    format_currency: (value: float) -> str
        The currency formatting function

    Variables
    ---------
    bill: Bill
        The bill, which contains member, fee and SEPA mandate information
    update_date: date
        The deadline date to update personal and bank data before the fee
        collection
    contact_email: str
        The e-mail adress of the person responsible for the membership fees
        and other questions.
#}
{% extends "base.html.jinja" %}
{% block head %}
    {{ super() }}
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            text-align: left;
            border-collapse: collapse;
        }

        #bill-details tr {
            border-bottom: 1px solid black;
        }

        #bill-details td,
        #bill-details th {
            padding: 10px;
        }

        #bill-details tr.total-row {
            border: none;
        }

        #bill-details tr.total-row td,
        tr.total-row th {
            font-weight: bold;
        }

        #bank-details td {
            padding-bottom: 5px;
            padding-right: 10px;
        }
    </style>
{% endblock %}
{% block body %}
    <p>
        {% if bill.member.salutation == 'Frau' %}Liebe {% else %}Lieber {% endif %}
        {{ bill.member.first_name }},
    </p>
    <p>
        wie jedes Jahr um diese Zeit stehen die Mitgliedsbeiträge für die JuBO
        e.V. zur Zahlung an. Dein diesjähriger Beitrag setzt sich für Dich wie
        folgt zusammen:
    </p>
    <table id="bill-details">
        <tr>
            <th>Pos.</th>
            <th>Beschreibung</th>
            <th>Betrag</th>
        </tr>
        {% for position in bill.positions %}
        <tr>
            <td>{{ loop.index }}</td>
            <td></td>
            <td>{{ format_currency(position.amount) }}</td>
        </tr>
        {% endfor %}
        <tr class="total-row">
            <td></td>
            <td>Gesamtsumme</td>
            <td>{{ format_currency(bill.total) }}</td>
        </tr>
    </table>
    <p>
        Da Du uns freundlicherweise ein SEPA-Lastschriftmandat erteilt hast,
        werden wir den fälligen Betrag i.H.v. <b>{{ format_currency(bill.total())
            }}</b> zum <b>{{ format_date(bill.value_date) }}</b> vom folgenden
        Konto per SEPA-Lastschrift einziehen:
    </p>
    <table id="bank-details">
        <tr>
            <td>Kontoinhaber</td>
            <td>{{ bill.mandate.first_name }} {{ bill.mandate.last_name }}</td>
        </tr>
        <tr>
            <td>IBAN (anonymisiert)</td>
            <td>{{ bill.mandate.anonymized_iban() }}</td>
        </tr>
        <tr>
            <td>BIC (anonymisiert)</td>
            <td>{{ bill.mandate.anonymized_bic() }}</td>
        </tr>
    </table>
    <p>
        Du erkennst unsere Abbuchung an der Mandatsreferenz <i>
            {{ bill.mandate.reference }}</i> und Gläubiger-Identifikationsnummer <i>
            {{ bill.mandate.creditor_id }}</i>. Wir bitten um Kontodeckung zu sorgen.
    </p>
    <p>
        <b>Wichtig:</b> Falls sich seit letztem Jahr Deine personenbezogenen
        Daten (Name, Adresse, E-Mail, Handynummer, etc.) geändert haben sollten,
        dann antworte bitte auf diese E-Mail mit Deinen aktualisierten Daten.
        Sollten sich zusätzlich Deine Bankdaten geändert haben, dann füge Deiner
        Mail bitte ein neu ausgefülltes Lastschriftmandat bei und sende es uns
        bis spätestens <b>{{ format_date(update_date) }}</b> zu.
    </p>
    <p>
        Falls Du noch Rückfragen zu Deiner Abbuchung oder zu Deiner
        Mitgliedschaft haben solltest, kannst Du Dich jederzeit über
        <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>
        bei mir melden.
    </p>
    <p>
        Vielen Dank, dass Du ein Teil der JuBO bist!
    </p>
{% endblock %}