{#
    Base html template.

    Variables
    ---------
    head: str
        The head html content
    body: str
       The body html content
#}
<html>
    <head>
        {{ head }}
    </head>
    <body>
        {{ body }}
    </body>
</html>