Mit freundlichen Grüßen,<br/>
{{ sender.name }}<br/>
{% if sender.role %}{{ sender.role }}{% endif %}<br/>
<hr/>
<br/>
<b>JuBO e.V.</b><br/>
In den Holzwiesen 14<br/>
73760 Ostfildern<br/>
<br/>
<b>E-Mail:</b> <a href="mailto:{{ sender.email }}">{{ sender.email }}</a><br/>
<br/>
<b>Bankverbindung:</b><br/>
Volksbank Mittlerer Neckar eG<br/>
IBAN: DE20 6129 0120 0246 7050 00<br/>
BIC: &nbsp;&nbsp;GENODESNUE1<br/>